{% extends 'base2.html.twig' %}
{% block content %}
    <div id="content-wrapper">

        <div class="container-fluid">
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fas fa-table"></i>
                    Liste des utilisateurs</div>
                <br>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">

                            <tr>
                                <th>Nom</th>
                                <th>Prenom</th>
                                <th>Etat</th>
                                <th>telephone</th>
                                <th>Sexe</th>
                                <th>Date Naissance</th>
                                <th>Adresse</th>


                            </tr>
                            {% for i in u %}
                                <tr>

                                    <th>{{ i.nom }}</th>
                                    <th>{{ i.prenom }}</th>
                                    <th>{{ i.telephone }}</th>
                                    <th>{{ i.sexe }}</th>
                                    <th>{{i.dateNaissance  |date  }}</th>
                                    <th>{{i.adresse }}</th>


                                    <td><a href="" class="fa fa-trash"></a></td>

                                </tr>
                            {% endfor %}

                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock content %}