{% extends '@Fix/Professionnel/prof.html.twig' %}
{% block content %}

    {% for i in v %}

            <div class="job-post-item bg-white p-4 d-block d-md-flex align-items-center">

                <div class="mb-4 mb-md-0 mr-5">
                    <div class="job-post-item-header d-flex align-items-center">
                        <h2 class="mr-3 text-black h3">{{ i.Titre }}</h2>
                        <div class="badge-wrap">
                            <span class="bg-primary text-white badge py-2 px-3">{{ i.etat }}</span>
                        </div>
                    </div>
                    <div class="job-post-item-body d-block d-md-flex">
                        <div class="mr-3"><span class="icon-layers"></span> <a href="#">{{ i.description }}</a></div><br>
                        <div><span class="icon-calendar-times-o"></span> <span>{{ i.datedebut | date }}</span></div>
                        <div><span class="icon-my_location"></span> <span>{{ i.lieu}}</span></div>
                    </div>
                </div>

                <div class="ml-auto d-flex">
                    <a href="{{  path('proposer',{'id':i.id})}}" class="btn btn-primary py-2 mr-1">proposer</a>
                </div>
            </div>


        {% endfor %}

{% endblock content %}